<main>
<img src="assets/image/sonic.png" alt="">
<p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Laborum a quia voluptatem! Incidunt officia accusamus dolorum. Placeat omnis maxime alias rem, non expedita assumenda porro doloribus odio, ipsam numquam sint.</p>

<p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Laborum a quia voluptatem! Incidunt officia accusamus dolorum. Placeat omnis maxime alias rem, non expedita assumenda porro doloribus odio, ipsam numquam sint.</p>

<p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Laborum a quia voluptatem! Incidunt officia accusamus dolorum. Placeat omnis maxime alias rem, non expedita assumenda porro doloribus odio, ipsam numquam sint.</p>

</main>