<form class="needs-validation" novalidate>
  <div class="row">
    <div class="col">
      <label for="nome">Nome:</label>
      <input type="text" class="form-control" placeholder="Nome" required>
      <div class="invalid-feedback">Preencha o Campo</div>
      <div class="">Tudo Certo!</div>
    </div>
    <div class="col">
      <label for="idade">Idade</label>
      <input type="number" class="form-control" placeholder="idade" required>
    </div>
  </div>
  <button type="submit" class="btn btn-primary">Enviar</button>
</form>
